@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: 255 95% 91%;
  --foreground: 14 51% 40%;
  --card: 60 33% 85%;
  --card-foreground: 14 51% 40%;
  --popover: 60 33% 85%;
  --popover-foreground: 14 51% 40%;
  --primary: 34 69% 32%;
  --primary-foreground: 255 95% 91%;
  --secondary: 16 44% 64%;
  --secondary-foreground: 14 51% 40%;
  --muted: 255 95% 91%;
  --muted-foreground: 34 69% 32%;
  --accent: 16 44% 64%;
  --accent-foreground: 14 51% 40%;
  --destructive: 14 51% 40%;
  --border: 16 44% 64%;
  --input: 60 33% 85%;
  --ring: 34 69% 32%;
  --radius: 0.5rem;
}

.dark {
  --background: 14 51% 40%;
  --foreground: 255 95% 91%;
  --card: 34 69% 32%;
  --card-foreground: 255 95% 91%;
  --popover: 34 69% 32%;
  --popover-foreground: 255 95% 91%;
  --primary: 255 95% 91%;
  --primary-foreground: 14 51% 40%;
  --secondary: 16 44% 64%;
  --secondary-foreground: 255 95% 91%;
  --muted: 34 69% 32%;
  --muted-foreground: 255 95% 91%;
  --accent: 16 44% 64%;
  --accent-foreground: 255 95% 91%;
  --destructive: 255 95% 91%;
  --border: 16 44% 64%;
  --input: 34 69% 32%;
  --ring: 16 44% 64%;
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
